#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B4D2BA;
}

.homepage-header {
    background-color: white;
    height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-list li a {
    display: block;
    color: black;
    margin: 20px 25px;
    text-decoration: none;
}

.login {
    background-color: #B57F50;
    color: black;
    border: none;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 18px;
}

.login:hover {
    background-color: #A66E45;
}

.main-home {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.main-home-title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 40px;
}

.main-home-body {
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    max-width: 800px;
}

.get-started {
    background-color: #B57F50;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 30px;
}

.get-started:hover {
    background-color: #A66E45;
}

.guitar-image {
    margin-top: 50px;
    text-align: center;
}

.home {
    height: auto;
    width: 97%;
    border-radius: 5px;
}

.features-section {
    justify-content: center;
}

.features {
    margin-top: 80px;
    font-size: 32px;
    font-weight: bold;
    max-width: 400px;
    padding-left: 40px;
}

.features-list {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-item {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.feature-item-photo {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.feature-item-photo img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.feature-item-title {
    font-weight: bold;
    padding-top: 15px;
    justify-content: center;
    width: auto;
    max-width: 100%;
}

.feature-item-body {
    margin-top: 10px;
    font-size: 16px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.home-footer {
    background-color: white;
    padding: 50px 20px;
    margin-top: 50px;
}