#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: white;
}

.create-account-login-title {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.create-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-auth {
    width: 500px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.toggle-auth {
    padding: 6px 15px;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0
}