#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B4D2BA;
    display: flex;
    flex-direction: column;
}

.login-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.login-header {
    background-color: white;
    height: 80px;
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}

.login-page main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.create-account-login-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.create-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.create-account input {
    width: 170%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.submit-auth {
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #B57F50;
    border-radius: 30px;
    border: none;
}

.submit-auth:hover {
    background-color: #A66E45;
}

.toggle-auth {
    padding: 6px 15px;
    cursor: pointer;
    background-color: #DCE2AA;
    border-radius: 30px;
    border: none;
}

.toggle-auth:hover {
    background-color: #C8D18A;
}

p {
    margin: 0;
    padding: 0;
}

.login-footer {
    background-color: white;
    padding: 50px 20px;
}