/* Questions box */

.questionnaire-page {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #b57f50;
    padding: 1rem;
    width: 100%;
}

.questionnaire-box {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    padding: 5rem;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.questionnaire-box h1 {
    margin-bottom: 1rem;
    color: #333;
}

.questionnaire-box h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.4rem;
}
.questionnaire-box p {
    color: #666;
    margin-bottom: 1.5rem;
}

/* Progress Bar */
.progress-bar {
    height: 6px;
    background: #e0e0e0;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #4CAF50;
    transition: width 0.3s ease;
}

.question-count {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 0.5rem;
}

/* Answers container */

.options-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

.options-btn {
    padding: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.options-btn:hover {
    border-color: #808080;
}

.options-btn.selected {
    border-color: #56af4c;
    background: #e8f5e9;
    color: #2e7d32;
}

/* navigation buttons */

.navigation-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.back-btn {
    padding: 0.75rem 1.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    background: white;
    font-size: 1rem;
    cursor: pointer;
}

.back-btn:hover {
    background: #f5f5f5;
}

.next-btn,
.primary-btn {
    flex: 1;
    padding: 0.75rem 0.75rem;
    border: none;
    border-radius: 8px;
    background: #4B543B;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.next-btn:hover:not(:disabled),
.primary-btn:hover {
    background: #8ED081;
}

.next-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* Input Questions */

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.input-label {
    flex: 1;
    text-align: left;
    font-size: 1rem;
}

.input-buttons {
    display: flex;
    gap: 0.5rem;
}

.input-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2 ease;
}

.input-btn:hover {
    border-color: #999;
}

.input-btn.selected {
    border-color: #4CAF50;
    background: #4CAF50;
    color: white;
}
